.ContentAreaContainer{
    display: flex;
    justify-content:flex-end;
    
    
    height:688px ;
    width:1220px ;
    margin-top: 1px;
    border: solid;
    border-color:whitesmoke;
    border-width: 2;
    border-style: solid;
    box-shadow: 2px 3px 6px #707070;
    border-top: whitesmoke;
}

.VideoCard{
    display: flex;
    align-items: center;
    justify-content:center;
    height:120px ;
    width:1220px ;
    margin: 4px;
    border-color:whitesmoke;
    border-width: 2px;
    border-style: solid;
    box-shadow: 2px 3px 6px #707070;
    border-top: whitesmoke;

}
.VideoInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80px ;
    width:150px ;
    margin: 4px;
    border-color:whitesmoke;
    border-width: 2px;
    border-style: solid;
    box-shadow: 2px 3px 6px #707070;
    border-top: whitesmoke;
    border-radius: 80px;


}